@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap|Sacramento:400');

/******------Home page-------******/

.main-image {
    margin-top: 20px;
    background: url("../images/american-flag.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
} 

.navbar {
    font-family: 'IBM Plex Sans' sans-serif; 
}

.bg-nav {
    background-color: rgb(189, 22, 22);
    z-index: 1;
    color: #fafafa;
}

.title-text {
    padding-top: 190px;
    font-family: 'Sacramento', cursive;
    text-align: center;
    background-color: rgb(189, 22, 22);
    opacity: 0.9;
    color: #fafafa;
}
.phone-text {
    padding-top: 10px;
    font-family: 'Sacramento', cursive;
    text-align: center;
    background-color: rgb(189, 22, 22);
    color: #fafafa;
}

.wallpaper {
    background-image: url("../images/statue-of-liberty.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
}

.testimonial {
    margin-top: 75px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-weight: 700;
    color: #070707;
    text-transform: none;
    font-size: 14px;
    letter-spacing: 0;
}

.announcement {
    text-align: center;
    display: inline;
    font-family: 'Sacramento', cursive;
    color: #070707;
    font-weight: 700;
    padding: 0;
    margin: 0;

}    

.jumbotron {
    background-image: url("../images/grand-canyon.jpg");
    margin: 25px auto;
    min-height: 200px;
}

.hyperlink {
    text-decoration: none;
    color: black;
}

.page-title {
    text-align: center;
    font-weight: 600;
    color: #070707;
}

/**---------Footer-------------*/

.footer {
    margin: 0;
    padding-left: 10px;
    min-height: 100px;
    background-color:  rgb(189, 22, 22);
    color: #fafafa;;
}

.footer-image {
    margin: 0 auto;
    padding-top: 17px;
}

.footer-text, .social-text {
    padding: 15px;
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    color: #fafafa;
    text-align: left;
    max-width: 300px;
}

.footer-text p {
    padding: 0;
    font-size: 12px;
    text-align: left;
}

.footer-text p a {
    color:#fafafa;
}

.footer-text p a:hover {
    color: #050505;
}

.social-text {
    padding: 0px;
    padding-top: 12px;
}

.social-icons {
    padding-top: 1px;
}

.social-icons li {
    padding: 5px;
    margin-top: 5px;
}

.social-icons li a i {
    color: #fafafa;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    font-size: 18px;
    text-align: left;
}

.social-icons li a i:hover {
    color: #050505;
}

/***-----media queries--------**/

@media (max-width: 992px) {
    .media {
        display: block;
    }

}